<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <!-- set the character set -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- first step to a responsive site -->
        <title>Fantasy Pundit League</title>

        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>
        <link href="https://fonts.googleapis.com/css?family=Mukta:300,400" rel="stylesheet">
        <link href="style.css" rel="stylesheet">

        <!-- Your styles should be called here -->

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      	<![endif]-->
    </head>

    <body>
        <div class="card w-100 pv3 f6 ph3 ph4-ns" id="title" style="background-color: #C0894B"></div>
        <div class="week-card w-100 pv3 f6 ph3 ph4-ns" id="week-1" style="background-color: #326479"></div>
        <div class="week-card w-100 pv3 f6 ph3 ph4-ns" id="week-2" style="background-color: #368A58"></div>
        <div class="week-card w-100 pv3 f6 ph3 ph4-ns" id="week-3" style="background-color: #C0614B"></div>
        <div class="week-card w-100 pv3 f6 ph3 ph4-ns" id="week-4" style="background-color: #326479"></div>
        <div class="week-card w-100 pv3 f6 ph3 ph4-ns" id="week-5" style="background-color: #368A58"></div>
        <div class="week-card w-100 pv3 f6 ph3 ph4-ns" id="week-6" style="background-color: #C0614B"></div>
        <div class="week-card w-100 pv3 f6 ph3 ph4-ns" id="week-7" style="background-color: #326479"></div>
        <div class="week-card w-100 pv3 f6 ph3 ph4-ns" id="week-8" style="background-color: #368A58"></div>
        <div class="week-card w-100 pv3 f6 ph3 ph4-ns" id="week-9" style="background-color: #C0614B"></div>
        <div class="week-card w-100 pv3 f6 ph3 ph4-ns" id="week-10" style="background-color: #326479"></div>
        <div class="week-card w-100 pv3 f6 ph3 ph4-ns" id="week-11" style="background-color: #368A58"></div>
        <div class="week-card w-100 pv3 f6 ph3 ph4-ns" id="week-12" style="background-color: #C0614B"></div>
        <div class="week-card w-100 pv3 f6 ph3 ph4-ns" id="week-13" style="background-color: #326479"></div>
        <div class="week-card w-100 pv3 f6 ph3 ph4-ns" id="week-14" style="background-color: #368A58"></div>
        <div class="card w-100 pv3 f6 ph3 ph4-ns cf" id="standings" style="background-color: #C0894B"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://rawgit.com/customd/jquery-visible/master/jquery.visible.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="js/helpers/smooth-scroll.js"></script>
        <script src="js/helpers/decimal-round.js"></script>
        <script src="js/helpers/in-view.js"></script>
        <script src="js/wrapper.js"></script>
        <script id="headings-template" type="text/x-lodash-template">
          <br>
          <h1><%= heading %></h1>
          <div class="anchors"><a href="#week-1">1</a> | <a href="#week-2">2</a> | <a href="#week-3">3</a> | <a href="#week-4">4</a> | <a href="#week-5">5</a> | <a href="#week-6">6</a> | <a href="#week-7">7</a> | <a href="#week-8">8</a> | <a href="#week-9">9</a> | <a href="#week-10">10</a> | <a href="#week-11">11</a> | <a href="#week-12">12</a> | <a href="#week-13">13</a> | <a href="#week-14">14</a> | <a href="#standings">Standings</a></div>
          <br></br>
        </script>
        <script id="graf-template" type="text/x-lodash-template">
          <p><%= p1 %></p>
          <p><%= p2 %></p>
          <p><%= p3 %></p>
          <p><%= p4 %></p>
          <p><%= p5 %></p>
          <p><%= p6 %></p>
          <p><%= p7 %></p>
          <br/>
          <h2><%= p8 %></h2>
          <h2><%= p9 %></h2>
        </script>
        <script id="lineup-template" type="text/x-lodash-template">
          <div class="fl w-100 w-third-ns pa2">
            <table class="lineup">
              <th colspan="3" class="team-name"><%= pundit %></th>
              <tbody>
                <tr class="player">
                  <td class="position">QB</td>
                  <td class="name qb-name"><%= qbName %></td>
                  <td class="points qb-points"><%= qbPoints %></td>
                </tr>
                <tr class="player">
                  <td class="position">RB</td>
                  <td class="name rb1-name"><%= rb1Name %></td>
                  <td class="points rb1-points"><%= rb1Points %></td>
                </tr>
                <tr class="player">
                  <td class="position">RB</td>
                  <td class="name rb2-name"><%= rb2Name %></td>
                  <td class="points rb2-points"><%= rb2Points %></td>
                </tr>
                <tr class="player">
                  <td class="position">WR</td>
                  <td class="name wr1-name"><%= wr1Name %></td>
                  <td class="points wr1-points"><%= wr1Points %></td>
                </tr>
                <tr class="player">
                  <td class="position">WR</td>
                  <td class="name wr2-name"><%= wr2Name %></td>
                  <td class="points wr2-points"><%= wr2Points %></td>
                </tr>
                <tr class="player">
                  <td class="position">TE</td>
                  <td class="name te-name"><%= teName %></td>
                  <td class="points te-points"><%= tePoints %></td>
                </tr>
                <tr class="player">
                  <td class="position">FLEX</td>
                  <td class="name flex-name"><%= flexName %></td>
                  <td class="points flex-points"><%= flexPoints %></td>
                </tr>
                <tr class="player">
                  <td class="position">D/ST</td>
                  <td class="name dst-name"><%= dstName %></td>
                  <td class="points dst-points"><%= dstPoints %></td>
                </tr>
                <tr class="player">
                  <td class="position">K</td>
                  <td class="name k-name"><%= kName %></td>
                  <td class="points k-points"><%= kPoints %></td>
                </tr>
              </tbody>
              <tbody class="total">
                <tr>
                  <td class="position" colspan="2">TOTAL</td>
                  <td class="points total-points"><%= totalPoints %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </script>
        <script id="scores-template" type="text/x-lodash-template">
          <div class="fl w-100 w-third-ns pa2">
            <table class="good-teams">
              <th colspan="4">Good Teams</th>
              <tr class="matchup">
                <td class="team">Matthew Berry</td><td class="points berry-good"><%= berryGoodPoints %></td>
                <td class="team">Jamey Eisenberg</td><td class="points eisenberg-good"><%= eisenbergGoodPoints %></td>
              </tr>
              <tr class="matchup">
                <td class="team">Michael Beller</td><td class="points beller-good"><%= bellerGoodPoints %></td>
                <td class="team">Adam Rank</td><td class="points rank-good"><%= rankGoodPoints %></td>
              </tr>
              <tr class="matchup">
                <td class="team">Michael Fabiano</td><td class="points fabiano-good"><%= fabianoGoodPoints %></td>
                <td class="team">Vinnie Iyer</td><td class="points iyer-good"><%= iyerGoodPoints %></td>
              </tr>
            </table>
            <br></br>
            <table class="bad-teams">
              <th colspan="4">Bad Teams</th>
              <tr class="matchup">
                <td class="team">Matthew Berry</td><td class="points berry-bad"><%= berryBadPoints %></td>
                <td class="team">Jamey Eisenberg</td><td class="points eisenberg-bad"><%= eisenbergBadPoints %></td>
              </tr>
              <tr class="matchup">
                <td class="team">Michael Beller</td><td class="points beller-bad"><%= bellerBadPoints %></td>
                <td class="team">Adam Rank</td><td class="points rank-bad"><%= rankBadPoints %></td>
              </tr>
              <tr class="matchup">
                <td class="team">Michael Fabiano</td><td class="points fabiano-bad"><%= fabianoBadPoints %></td></div>
                <td class="team">Vinnie Iyer</td><td class="points iyer-bad"><%= iyerBadPoints %></td></div>
              </tr>
            </table>
          </div>
        </script>
        <script id="analysis-template" type="text/x-lodash-template">
          <div class="fl w-100 w-third-ns pa2">
            <p class="analysis"><%= content %></p>
          </div>
        </script>
        <script id="standings-template" type="text/x-lodash-template">
          <div class="fl w-100 tc">
            <table class="standings">
              <th colspan="3">Standings</th>
              <tbody>
                <tr class="standing-header">
                  <td>Name</td>
                  <td>Average Points</td>
                  <td>Total Points</td>
                </tr>
              </tbody>
              <tbody>
                <tr class="team">
                  <td class="name first-name"><%= name1 %></td>
                  <td class="avg-points first-avg"><%= avgPoints1 %></td>
                  <td class="tot-points first-tot"><%= totPoints1 %></td>
                </tr>
                <tr class="team">
                  <td class="name second-name"><%= name2 %></td>
                  <td class="avg-points second-avg"><%= avgPoints2 %></td>
                  <td class="tot-points second-tot"><%= totPoints2 %></td>
                </tr>
                <tr class="team">
                  <td class="name third-name"><%= name3 %></td>
                  <td class="avg-points third-avg"><%= avgPoints3 %></td>
                  <td class="tot-points third-tot"><%= totPoints3 %></td>
                </tr>
                <tr class="team">
                  <td class="name fourth-name"><%= name4 %></td>
                  <td class="avg-points fourth-avg"><%= avgPoints4 %></td>
                  <td class="tot-points fourth-tot"><%= totPoints4 %></td>
                </tr>
                <tr class="team">
                  <td class="name fifth-name"><%= name5 %></td>
                  <td class="avg-points fifth-avg"><%= avgPoints5 %></td>
                  <td class="tot-points fifth-tot"><%= totPoints5 %></td>
                </tr>
                <tr class="team">
                  <td class="name sixth-avg"><%= name6 %></td>
                  <td class="avg-points sixth-name"><%= avgPoints6 %></td>
                  <td class="tot-points sixth-tot"><%= totPoints6 %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </script>
        <script src="js/lodash/templates.js"></script>
        <script src="js/lodash/scores-template.js"></script>
        <script src="js/lodash/standings-template.js"></script>
        <script src="js/line-graph.js"></script>
        <script src="js/app.js"></script>
        <!-- Your javascript should be called here -->
    </body>

</html>
