body {
  font-family: 'Mukta', sans-serif;
}

div.card, div.week-card {
  position: relative;
  width: 100%;
  min-height: 100vh;
  left: 0;
  right: 0;
  text-align: center;
  overflow: auto;
  display: table;
  color: white;
}

h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tbody {
  border: 2px solid black;
}

th, td {
  padding: 1vh;
  text-align: center;
  border: 1px solid black;
  background-color: white;
}

div.w-third {
  text-align: center;
}

p.analysis {
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}

td.team:hover {
  background-color: #D3D3D3;
}

.w-third-ns {
  display: table-row;
}

/*div.fl > table {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;
}*/
