div.card {
  position: static;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  text-align: center;
}

h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tbody {
  border: 2px solid black;
}

th, td {
  padding: 1vh;
  text-align: center;
  border: 1px solid black;
}

div.w-third {
  text-align: center;
}
